*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Helvetica Neue';
  height: 100vh;
  color: #000;
  font-size: 16px;
}

.container {
  background: #e9ebee;

  margin: auto;
  border-radius: 10px;

  overflow: hidden;
}

a {
  margin-right: auto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  color: inherit;

  width: 100%;
  margin-top: 0.5em;
  padding: 2px;
  border-radius: 5px;

  cursor: pointer;
}
